#weather {
    text-align: center;
}
.weather {
    margin: 10px;
}
#motto {
    width:100%;
}

#video {
    width:100%;
}

#map {
    width:100%;
}

.list-group-item.active {
    background-color: black;
    color: white;
}
.jumbotron h1{
    margin-top: 10px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px white;
}
.motto h3 {
    background-color: #062f4f;
    color: white;
    padding:10px;
    display: inline-block;
}

.map h3 {
    background-color: hsl(312, 46%, 54%);
    color: white;
    padding:10px;
    display: inline-block;
}

.video h3 {
    background-color: hsl(0, 94%, 27%);
    color: white;
    padding:10px;
    display: inline-block;
}
.col-md-8 {
    margin-top: 20px;
}